* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaf5ff;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 70px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height:180px;
}

.brand h1 {
  font-size: 30px;
  font-weight: 600;
  color: #8fa2b4;
}

.brand span {
  color: #3fa0ff;
}

/* NAV */
.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #3fa0ff;
}

/* HERO */
.hero {
  position: relative;
  padding: 30px 70px;
}

/* CARD */
.hero-card {
  background-color: #8fa6b9;
  border-radius: 45px;
  padding: 55px;
  width: 82%;
  min-height: 360px;
  color: #eaf5ff;
}

.hero-card h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 28px;
}

.hero-card p {
  font-size: 22px;
  line-height: 1.7;
  max-width: 650px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 30px;
  margin-top: 45px;
}

.btn {
  border: none;
  padding: 16px 48px;
  border-radius: 30px;
  background-color: #b7dcff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* IMAGE */
.hero-img {
  position: absolute;
  right: 70px;
  top: 50px;
  width: 900px;
  filter: drop-shadow(0 12px 18px rgba(0,0,0,0.25));
}


/* RESPONSIVO */
@media (max-width: 900px) {
  .hero-img {
    position: static;
    width: 260px;
    margin: 30px auto 0;
    display: block;
  }

  .hero-card {
    width: 100%;
  }
}
